@import '../../style/variables.scss';

.char {
  &__content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 25px;
    align-items: start;

    @media(max-width: 1124px){
      grid-template-columns: 2fr 33.3%;
    }

    @media(max-width: 768px){
      grid-template-columns: 1fr;
    }
    
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 30px;
    
    @media(max-width: 600px){
      grid-template-columns: 1fr;
    }
  }
  &__item {
    height: 318px;
    background-color: $dark;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
    cursor: pointer;
    transition: 0.3s transform;
    -webkit-transition: 0.3s transform;
    -moz-transition: 0.3s transform;
    -ms-transition: 0.3s transform;
    -o-transition: 0.3s transform;
    &:hover {
      transform: translateY(-8px);
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      -o-transform: translateY(-8px);
    }
    &:focus {
      transform: translateY(-8px);
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      -o-transform: translateY(-8px);   
    }
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    &_selected {
      box-shadow: 0 5px 20px $main-color;
      transform: translateY(-8px);
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      -o-transform: translateY(-8px);
    }
  }
  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
}
